<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Customers</title>
</head>
<body>

        <!-- <form action="/to_list" method="post"> -->

            <!-- <% if(Custlist.length > 0 ) {  %>
                <% Custlist.forEach(e => { %>
                    <input type="radio" name="from" value="<%=e.Name%>">
                    <label for="male"><%=e.Name%></label><br>
            <%   }); } %> -->

            <!-- <% if(Custlist.length > 0 ) {  %>
                <% Custlist.forEach(e => { %>
            <button type="submit" class="btn btn-lg btn-outline-primary" name="from" value="<%=e.Name%>"><%=e.Name%></button>
            <%   }); } %>
        </form> -->

        
        <form action="/to_list" method="post">
            <div class="card mx-auto mt-5" style="width: 18rem; align-items:stretch;">
                <div class="card-header">
                    <h1 style="text-align: center;">Login</h1>
                </div>
            <ul class="list-group list-group-flush">
            
            <% if(Custlist.length > 0 ) {  %>
                <% Custlist.forEach(e => { %>
           <li class="list-group-item"><button type="submit" class="btn btn-block btn-lg btn-outline-primary" name="from" value="<%=e.Name%>"><%=e.Name%></button></li>
            <%   }); } %>
        </ul>
        </form>
        
      </div>

</body>
</html>