<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Customers</title>
    <style>
        body { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAxMC8yOS8xMiKqq3kAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzVxteM2AAABHklEQVRIib2Vyw6EIAxFW5idr///Qx9sfG3pLEyJ3tAwi5EmBqRo7vHawiEEERHS6x7MTMxMVv6+z3tPMUYSkfTM/R0fEaG2bbMv+Gc4nZzn+dN4HAcREa3r+hi3bcuu68jLskhVIlW073tWaYlQ9+F9IpqmSfq+fwskhdO/AwmUTJXrOuaRQNeRkOd5lq7rXmS5InmERKoER/QMvUAPlZDHcZRhGN4CSeGY+aHMqgcks5RrHv/eeh455x5KrMq2yHQdibDO6ncG/KZWL7M8xDyS1/MIO0NJqdULLS81X6/X6aR0nqBSJcPeZnlZrzN477NKURn2Nus8sjzmEII0TfMiyxUuxphVWjpJkbx0btUnshRihVv70Bv8ItXq6Asoi/ZiCbU6YgAAAABJRU5ErkJggg==);}
    </style>
</head>
<body>

        <!-- <form action="/to_list" method="post"> -->

            <!-- <% if(Custlist.length > 0 ) {  %>
                <% Custlist.forEach(e => { %>
                    <input type="radio" name="from" value="<%=e.Name%>">
                    <label for="male"><%=e.Name%></label><br>
            <%   }); } %> -->

            <!-- <% if(Custlist.length > 0 ) {  %>
                <% Custlist.forEach(e => { %>
            <button type="submit" class="btn btn-lg btn-outline-primary" name="from" value="<%=e.Name%>"><%=e.Name%></button>
            <%   }); } %>
        </form> -->

        
        <form action="/to_list" method="post">
            <div class="card mx-auto mt-5" style="width: 18rem; align-items:stretch;">
                <div class="card-header">
                    <h1 style="text-align: center;">Login</h1>
                </div>
            <ul class="list-group list-group-flush">
            
            <% if(Custlist.length > 0 ) {  %>
                <% Custlist.forEach(e => { %>
           <li class="list-group-item"><button type="submit" class="btn btn-block btn-lg btn-outline-primary" name="from" value="<%=e.Name%>"><%=e.Name%></button></li>
            <%   }); } %>
        </ul>
        </form>
        
      </div>

</body>
</html>