<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To list</title>
</head>
<body>
    <h1>Welcome <%= admin %>!</h1>
    <h1>Whom you would like to transfer money</h1>
    <form action="/payment" method="post">
        <input type="radio" name="to" value="<%=Cust1%>">
        <label for="male"><%=Cust1%></label><br>
        <input type="radio" name="to" value="<%=Cust2%>">
        <label for="male"><%=Cust2%></label><br>
        <input type="radio" name="to" value="<%=Cust3%>">
        <label for="male"><%=Cust3%></label><br>
        <hr>
        <button type="submit" name="submit">Next</button>
    
    </form>

</body>
</html>